/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
}

body {
  /*text-align: center;*/
  background: #3b3e46;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  margin: 0 5%;
}
